/* // medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .bannerTitle {
    width: 80%;
    margin: 100px auto 30px;
  }
  .bannerTitle h1 {
    font-size: 50px;
  }
  .bannerParagraph {
    width: 90%;
    margin: 0 auto 60px;
  }
  .bannerParagraph p {
    font-size: 16px;
  }
  .bannerButton {
    margin-bottom: 100px;
  }
}
